body {
font-family: Arial;
background: #f4f6f8;
}


.navbar {
background: #1e40af;
padding: 10px;
}


.navbar button {
margin: 5px;
padding: 8px 15px;
color: white;
background: #2563eb;
border: none;
cursor: pointer;
}


table {
width: 80%;
margin: 20px auto;
border-collapse: collapse;
background: white;
}


th, td {
border: 1px solid #ddd;
padding: 10px;
text-align: center;
}


h2, h3 {
text-align: center;
}